<!-- <button (click)="test()">Fecth 1</button>
<button (click)="test2()">Fecth 2</button>

<table>
  <hr>
  {{result | json}}
  <hr>
  {{result2 | json}}
</table> -->


<!-- 
<button (click)="api1()">api1</button> -->
<!-- <button (click)="api2()">api2</button> -->




<div class="header">

  <p>DataCakes</p>
</div>




 <mat-form-field>
  <mat-label>Filter</mat-label>

  <input [(ngModel)]="values1" matInput placeholder="" #input> 
  <input [(ngModel)]="values2" matInput placeholder="" #input> 
  <input [(ngModel)]="values3" matInput placeholder="" #input> 
  <!-- <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit" (click)="onPageChange2(values)">Search</button> -->

  <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit" (click)="onPageChange3(values1,values2,values3)">insert</button>


</mat-form-field>



  
<div class="mat-elevation-z8" *ngIf="dataSource">


  <table mat-table [dataSource]="dataSource">


  Position Column
  <ng-container matColumnDef="cake_id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.cake_id}} </td>
  </ng-container>

  Name Column
  <ng-container matColumnDef="cake_name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.cake_name}} </td>
  </ng-container>

  Weight Column
  <ng-container matColumnDef="cake_price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.cake_price}} </td>
  </ng-container>

  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  

  <mat-paginator  
                  [length]="50" 
                  [pageSize]="10" 
                  [pageSizeOptions]="[5, 10, 25, 50]"
                  (page) =  "onPageChange1($event)"
                  > 
               
  </mat-paginator>


</div>