

<div class="header">
<h1 class='deepshadow'> Welcome To StoreCake
</h1>


<div class="img">

  <img src="https://i.pinimg.com/originals/fa/38/02/fa3802e478b66b8841a3ce41904de159.gif" alt="D1">

</div>


</div>

<div class="container p-4 my-3">
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>CakeName</mat-label>
        <input [(ngModel)]="values1" matInput placeholder="" #matInput>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>CakePrice</mat-label>
        <input [(ngModel)]="values2" matInput placeholder="" #matInput>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>CakeStock</mat-label>
        <input [(ngModel)]="values3" matInput placeholder="" #matInput>
      </mat-form-field>
    </div>
  </div>


  <button mdbBtn size="sm" gradient="aqua" rounded="true" class="btn btn-warning btn-block" mdbWavesEffect type="submit"
    (click)="onPageChange3(values1,values2,values3)">insert</button>

</div>



<div class="container p-4 my-3">
<div class="mat-elevation-z8" *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource">


    Position Column
    <ng-container matColumnDef="cake_id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.cake_id}} </td>
    </ng-container>

    Name Column
    <ng-container matColumnDef="cake_name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.cake_name}} </td>
    </ng-container>

    Weight Column
    <ng-container matColumnDef="cake_price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.cake_price}} </td>
    </ng-container>

    stock Column
    <ng-container matColumnDef="cake_stock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.cake_stock}} </td>
    </ng-container>

    edit Column

    <ng-container matColumnDef="Edit" style="width:100px;">
      <th mat-header-cell *matHeaderCellDef style="width:100px;"> Edit </th>
      <td mat-cell *matCellDef="let element" style="width:100px;"> <button class="btn btn-primary"
          (click)="editDialog('update',element)">แก้ไขข้อมูล</button></td>
    </ng-container>


    <ng-container matColumnDef="Delete" style="width:100px;">
      <th mat-header-cell *matHeaderCellDef style="width:100px;"> Delete </th>
      <td mat-cell *matCellDef="let element" style="width:100px;"> <button class="btn btn-danger"
          (click)="deleteCake(element.cake_id)">ลบข้อมูล</button></td>
    </ng-container>





    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <mat-paginator [length]="dataLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="onPageChange1($event)">

  </mat-paginator>

</div>
</div>
